.logo-container {
  background-image: url(/img/Heavenly-Blooms-Logo-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
  background-color: white;
}

.hannah-container {
  background-image: url(/img/heavenly-blooms-6.JPEG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  background-color: white; 
}

.featured-images-container-3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.featured-images-container-3 > img {
  box-shadow: 10px 5px 5px black;
  width: 25%;
  object-fit: cover;
  margin-left: 0.5em;
  margin-right: 0.5em;
}